.header__bottom {
  background-color: #fff;
  padding: 20px 0;
  position: relative;

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo-wrapper {
    flex: 0 0 150px;
    z-index: 3;
  }

  .personal-wrapper {
    position: relative;
    flex: 0 0 172px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;

    .personal__item.cart {
      position: relative;

      .count {
        position: absolute;
        top: -9px;
        right: -10px;
        text-align: center;
        line-height: 18px;
        font-weight: 700;
        font-size: 9px;
        width: 16px;
        height: 16px;
        color: #fff;
        border-radius: 50%;
        background-color: #000;
        border: 2px solid #fff;
        z-index: 2;
        box-sizing: content-box;
      }
    }
  }
}

.burger {
  display: none;
  position: relative;
  width: 30px;
  height: 21px;
  z-index: 2;

  span {
    display: block;
    height: 3px;
    width: 30px;
    background-color: #121212;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: all .3s ease-in-out;
  }
  &.active {
    span:nth-of-type(1) {
      transform: rotate(45deg) translate(6px, 6px);
    }
    span:nth-of-type(3) {
      transform: rotate(-45deg) translate(6px, -6px);
    }
    span:nth-of-type(2) {
      opacity: 0;
      pointer-events: none;
    }
  }
}

@media (max-width: 1000px) {
  .header__bottom {
    .personal-wrapper {
      flex: 0 0 110px;
    }
  }
}

@media (max-width: 768px) {
  .header__bottom {
    .personal-wrapper {
      margin-left: auto;
    }
  }
  .burger {
    display: block;
    margin-left: 30px;
  }
}
@media (max-width: 400px) {
  .burger {
    width: 25px;
    height: 18px;
    margin-left: 20px;
  }
  .header__bottom .personal-wrapper {
    flex: 0 0 100px;
  }
}