.menu {
  .header__top {
    display: none;
  }

  .nav {
    display: flex;
    align-items: center;

    &__item {
      &:not(:last-child) {
        margin-right: 35px;
      }
    }
  }

  .menu-item {
    font-family: inherit;
    font-size: 14px;
    line-height: 16px;
    color: #121212;
    text-decoration: none;

  }
}

@media (max-width: 940px) {
  .menu {
    .nav {
      &__item {
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .menu {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    top: 60px;
    bottom: 0;
    z-index: 2;
    left: 100%;
    right: 0;
    border-top: 2px solid #F8F8F8;
    backdrop-filter: blur(2px);
    transition: left .3s ease-in-out;
    overflow-y: auto;
    &-item {
      font-size: 18px !important;
    }
    .nav {
      width: 50%;
      display: block;
      text-align: center;
      padding: 20px 50px 50px;
      background: #fff;

      &__item {
        &:not(:last-child) {
          margin-right: 0;
          margin-bottom: 20px;
        }
      }
    }
    &.active {
      left: 0;
    }
  }
}
@media (max-width: 550px) {
  .menu {
    justify-content: space-between;
    .nav {
      width: 100%;
    }
  }
}