.copyright {
  background-color: #f8f8f8;
  padding: 12px 0;
  font-weight: 500;
  font-size: 11px;
  line-height: 22px;

  p {
    opacity: 0.8;
  }

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__payments {
    min-height: 16px;

    img {
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
      height: 16px;
    }

    a:not(:last-child) {
      margin-right: 11px;
    }
  }
}

@media (max-width: 850px) {
  .copyright {
    &-wrapper {
      flex-direction: column;
    }
    &__payments {
      order: -1;
      margin-bottom: 10px;
    }
  }
}