.main-banner {
  background-color: #fff;
  padding-top: 30px;

  .banner-wrapper {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .main-banner {
    .banner-wrapper {
      display: block;
    }
  }
}