.women-clothes, .men-clothes {
  margin-bottom: 95px;
}
.clothes {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
  grid-gap: 30px;
  margin-bottom: 50px;
  grid-auto-flow: dense;
  &__link {
    display: block;
    width: 100%;
    padding: 16px;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    opacity: 0.8;
    background-color: #f8f8f8;
  }
}
@media (max-width: 550px) {
  .clothes {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 10px;
    margin-bottom: 30px;
  }
  .women-clothes, .men-clothes {
    margin-bottom: 50px;
  }
}