
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat&family=Playfair+Display+SC:wght@400;900&family=Spartan:wght@400;500;600;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
input,
button,
textarea,
select {
    font: inherit;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}
button,input,optgroup,select,textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}
button,input {
    overflow: visible;
    display: block;
}
button,select {
    text-transform: none;
}
button,[type="button"],[type="reset"],[type="submit"] {
    -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: none;
}
body {
    margin: 0;
    font-family: 'Spartan', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    font-size: 14px;
    line-height: 16px;
    color: #121212;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
.container {
    max-width: 1160px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}
.title-h2 {
    font-weight: 600;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
}
.title-h1 {
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #121212;
}
img {
    display: block;
}
.payments {
    display: flex;
    align-items: center;
}
.payments img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.border-bottom {
    border-bottom: 2px solid #E6E6E6;
}
@media (max-width: 600px) {
    .title-h2 {
        font-size: 18px;
    }
}