.related {

  .title-h2 {
    margin-bottom: 48px;
    padding-right: 100px;
  }

  .clothes {
    position: relative;
    margin-bottom: 0;
  }

  .arrow-next {
    top: -80px;
    right: 7px;
    transform: translate(0, 0) rotate(180deg);
  }
  .arrow-prev {
    top: -80px;
    right: 66px;
    left: unset;
    transform: translate(0, 0) rotate(0deg);
  }
}
@media (max-width: 600px) {
  .related {
    .title-h2 {
      margin-bottom: 20px;
    }
    .arrow-next {
      top: -55px;
    }
    .arrow-prev {
      top: -55px;
    }
  }
}