.products-header {
  margin: 0 0 45px;

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {

  }

  &__tabs {
    display: flex;
    align-items: center;
  }

  .tabs {
    &__item {
      font-size: 12px;
      line-height: 13px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: #1A1A1A;
      opacity: 0.6;

      &:not(:last-child) {
        margin-right: 30px;
      }

      &.active {
        opacity: 1;
      }
    }
  }
}